* {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.title {
  text-align: center;
  color: green;
  font-size: large;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
}

.subtitle {
  font-size: large;
  color: green;
  font-weight: 500;
  font-style: italic;
}

.navTitle {
  font-size: large;
  color: green;
  font-weight: 700;
  font-style: oblique;
}

.nav {
  border: 2px solid green;
  border-radius: 20px;
  min-width: fit-content;
  height: fit-content;
}

.navList {
  list-style-type: none;
  padding: 0px 0px;
}

.page {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  position: relative;
}

.section {
  border: 2px solid green;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 50px;
} 

.footer a {
  text-decoration: none;
  color: black;
  background-color: white;
  font-size: larger;
  padding: 5px 10px;
  border-radius: 20px;

}

.article {
  margin: 0px 10px;
}

h2 {
  font-size: x-large;
  margin: 10px 5px;
  font-weight: 700;
}

h3 {
  margin: 10px 10px;
}

p {
  font-size: larger;
  margin: 5px 5px;
  font-weight: 400;
}

article li {
  font-size: large;
  font-weight: 100;
  margin: 10px 0px;
}

img {
  width: 100%;
  max-width: 700px;
  height: auto;
  margin: 10px 0px;
}

.img-article {
  display: flex;
  justify-content: center;
}

@media (max-width: 1080px) {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;
  }

  .section {
    margin-top: 10px;
    border-radius: 20px;
    margin-left: 0px;
  }
}

button {
  border: green solid 2px;
  border-radius: 10px;
  margin: 3px 3px;
  padding: 3px;
}

button:hover {
  cursor: pointer;
  background-color: green;
  color: white;
}

.displayOff {
  display: none;
}

.displayOn {
  display: block;
}

ol li {
  list-style-type: none;
}

ol {
  padding-inline-start: 10px !important;
}

ol button {
  border: grey solid 2px;
  border-radius: 10px;
  margin: 3px 3px;;
}

ol button:hover {
  cursor: pointer;
  background-color: grey;
  color: white;
}

.nav div {
  margin: 10px;
}

.nav li {
  margin: 10px 0px;
}

.img-retour-haut-de-page {
  position: fixed;
  right: 5px;
  bottom: -5px;
  height: 50px;
  width: auto;
  border: #88c057 solid 3px;
  border-radius: 50%;
  padding: 5px;
}

.img-retour-haut-de-page:hover {
  cursor: pointer;
}