$primary-green: #88c057;
$secondary-orange: #ffa200;
$thirdy-grey: #3a3c3c;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto', sans-serif;
  background-color: #878d8d;
}

//Pour le Titre
.title {
  text-align: center;
  color: $primary-green;
  font-size: xx-large;
  font-weight: 900;
  font-style: italic;
  text-decoration: underline;
  margin: 30px 0px;
}

//conteneur Nav+Article
.page {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  position: relative;
}

//la Nav
.nav {
  border: 2px solid $secondary-orange;
  border-radius: 20px;
  min-width: fit-content;
  height: fit-content;

  div {
    margin: 10px;
  }

  li {
    margin: 10px 0px;
  }
}

.navList {
  list-style-type: none;
  padding: 0px 0px;
}

//les bouttons de la nav
button {
  border: $secondary-orange solid 2px;
  border-radius: 10px;
  margin: 3px 3px;
  padding: 3px;
  font-size: large;
}

button:hover {
  cursor: pointer;
  background-color: $secondary-orange;
  color: white;
}

//pour les listes nav et articles
ol {
  padding-inline-start: 0px;

  li {
    list-style-type: none;
  }

  button {
    border: $thirdy-grey solid 2px;
    border-radius: 10px;
    margin: 3px 0px;
  }

  button:hover {
    cursor: pointer;
    background-color: $thirdy-grey;
    color: white;
  }
}

//Pour qu'une seule liste soit affichée
.displayOff {
  display: none;
}

.displayOn {
  display: block;
}

//Pour les articles
.spaceArticle {
  margin-bottom: 10px;
}

.subtitle {
  font-size: xx-large;
  color: $primary-green;
  font-weight: 500;
  font-style: italic;
}

.section {
  border: 2px solid $primary-green;
  border-radius: 20px;
  margin-left: 10px;
  margin-bottom: 70px;
}

.article {
  margin: 0px 10px;

  li {
    font-size: x-large;
    font-weight: 100;
    margin: 10px 0px;
    list-style: none;
  }
}

p {
  font-size: x-large;
  margin: 5px 5px;
  font-weight: 400;
}

img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin: 20px 0px;
}

.img-article {
  display: flex;
  justify-content: center;
}

/* Add your modal styles here */
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  img {
    width: 100%;
    height: 100%;
  }
}

.modal-content img {
  max-width: 100%;
  max-height: 80vh;
}

.modal-content button {
  margin-top: 10px;
  cursor: pointer;
}

.btnModal {
  background-color: white;
  padding: 5px;
  border: 2px solid $thirdy-grey;
  color: $thirdy-grey;
  font-weight: 700;
}

.btnModal:hover {
  background-color: $thirdy-grey;
}


//Pour l'icone back to top
#backToTop {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

#backToTop.show {
  opacity: 1;
  visibility: visible;
}

//La media query pour faire basculer l'article sous le menu
@media (max-width: 1290px) {
  .page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    padding-bottom: 20px;
  }

  .section {
    margin-top: 10px;
    margin-left: 0px;
  }  
}

@media (max-width: 991px) {
  img {
    width: 70%;
  }
}

@media (max-width: 576px) {
  img {
    width: 100%;
  }
}

//pour l'icon permettant de revenir en haut de page
.img-retour-haut-de-page {
  position: fixed;
  right: 13px;
  bottom: 5px;
  height: 50px;
  width: auto;
  border: $primary-green solid 3px;
  border-radius: 50%;
  padding: 5px;
}

.img-retour-haut-de-page:hover {
  cursor: pointer;
}